{% extends "base.html" %}

{% block content %}
<h1 class="title">Search</h1>
<section class="section">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
        <div class="field">
            {{ form.search_box.label(class_="label") }}
            {{ form.search_box(size=32, class_="input is-link") }}
        </div>
        </p>
        <p>{{ form.submit(class_="button is-link") }}</p>
    </form>
</section>

{% if query %}
<section class="section">
    {% if search_results|length == 0 %}
    <div class="container">
        Total results: {{ search_results|length }} Query: {{ query }}
    </div>
    {% else %}
    <div class="container">
        Total results: {{ search_results|length }} Query: {{ query }}
        <hr>
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th><abbr title="Img">Img</abbr></th>
                <th><abbr title="Title">Title</abbr></th>
                <th><abbr title="Genres">Genres</abbr></th>
                <th><abbr title="Year">Year</abbr></th>
                <th><abbr title="Link">Link</abbr></th>
            </tr>
            </thead>
            {% for document in search_results %}
            <tr>
                <td>
                    <a href="{{ url_for('film') }}?id={{ document.name }}">
                        <img src={{ document.img_url }} alt="poster" width="200" height="300">
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('film') }}?id={{ document.name }}">
                        {{ document.title }}
                    </a>
                </td>
                <td>
                    {{ document.genres }}
                </td>
                <td>
                    {{ document.year }}
                </td>
                <td>
                    <a href={{ document.movie_url }} target="_blank">{{ document.movie_url }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</section>

{% endif %}

{% endblock %}